@using iTalk.API.Areas.Admin.Models

<md-dialog class="ui-page-active" ng-disabled="isLoading" flex-gt-sm="75" flex-gt-md="50" data-role="dialog">
    <fieldset ng-disabled="isLoading">
        <md-toolbar data-role="header">
            <div class="md-toolbar-tools">
                <h3>建立群組</h3>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <span class="fa fa-times fa-lg"></span>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content data-role="content" layout-margin>
            <div layout-gt-xs layout-xs="column">
                <div flex-order-xs="2">
                    @Html.Partial("_FriendList", new RenderFriendListOption(showLastChat: false))
                </div>
                <div ng-model="newGroup" ng-init="newGroup={members:[]}" flex-order-xs="1" flex>
                    <form name="newgroupForm" layout="column" layout-align="center center">
                        @Html.Partial("_ImageEditor")
                        <md-input-container md-no-float>
                            <input name="name" minlength="2" md-maxlength="20" placeholder="請輸入群組名稱" ng-model="newGroup.name" />
                            <div ng-messages="newgroupForm.name.$error">
                                <div ng-message="minlength">群組名稱最少要2個字</div>
                                <div ng-message="md-maxlength">群組名稱最多20個字</div>
                            </div>
                        </md-input-container>
                    </form>
                    <md-contact-chips ng-model="newGroup.members"
                                      md-contact-name="alias"
                                      md-contact-image="thumbnail"
                                      md-require-match="true"
                                      md-highlight-flags="i">
                    </md-contact-chips>
                </div>
            </div>
            <md-progress-linear ng-show="isLoading" md-mode="indeterminate"></md-progress-linear>
            <div class="form-inline" ng-class="{'pull-right':!isMobile()}" data-ride="footer">
                <button class="btn btn-default ui-btn" ng-click="cancel()">關閉</button>
                <button class="btn btn-primary ui-btn" ng-disabled="!newGroup.name" ng-click="create(newGroup)">建立</button>
            </div>
        </md-dialog-content>
    </fieldset>
</md-dialog>
