@using Newtonsoft.Json
@model iTalk.API.Areas.Admin.Models.RenderFriendListOption

<md-content layout-padding class="autoScroll">
    <md-input-container md-no-float>
        <md-icon class="fa fa-search"></md-icon>
        <input type="text" placeholder=@Resources.SearchByName ng-model="search.alias" />
    </md-input-container>
    <md-list>
        @if (Model.ShowFriendCount) {
            <md-subheader class="md-no-sticky">@Resources.Friend {{friends.length}}</md-subheader>
        }
        <md-list-item ng-class="{true: 'md-2-line', false: 'md-1-line'}[@JsonConvert.SerializeObject(Model.ShowLastChat)]"
                      ng-repeat="(key, f) in friends | custom:search">
            <img ng-src="{{friend.thumbnail}}" src="~/Img/portrait.png" class="img-circle portrait-md" />
            @if (Model.ShowLastChat) {
                <div class="md-list-item-text" flex>
                    <h3 ng-bind="f.alias"></h3>
                    <p>[TODO] : Show Last Chat</p>
                </div>
            }
            else {
                <p ng-bind="f.alias" flex></p>
            }
            @if (Model.ShowCheckbox) {
                <md-checkbox class="md-primary"
                             ng-checked="isChecked(f)"
                             ng-click="selectFriend(f)"
                             flex="none"
                             aria-label="select">
                </md-checkbox>
            }
        </md-list-item>
    </md-list>
</md-content>
