@{
    Layout = "~/Areas/Admin/Views/Shared/_ToolbarLayout.cshtml";
}
<div ng-controller="indexController">
    <div class="row workarea content-height"
         ng-if="isInit === 0">
        @Html.Partial("_IndexCore")
    </div>
    <!--Loading Modal-->
    <div id="loading-modal" class="modal fade" data-backdrop="static" layout layout-align="center center">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p class="text-center">讀取中...</p>
                    <md-progress-linear mode="indeterminate"></md-progress-linear>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/angular-index")
    @*<script src="~/js/imageEditorController.js"></script>*@
    <script type="text/ng-template" id="chatNotificationView">
        @Html.Partial("_ChatNotification")
    </script>
    <script type="text/ng-template" id="createGroupView">
        @Html.Partial("_CreateGroup")
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#loading-modal').modal();
        })
    </script>
}
