.view-switcher {
    padding: 0.5em;
    font-weight: normal;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input[type="text"].input-validation-error,
input[type="password"].input-validation-error {
    border: solid 1px #e80c4d;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}

.ui-content {
    padding-top: 50px !important;
}

.tab {
    width: 100% !important;
}

#sidebar {
    float: none !important;
}

.notify-toast {
    bottom: auto !important;
    right: 0 !important;
}
