body {
    padding-top: 50px;
    background-color: #D3DAE2;
    /*padding-bottom: 50px;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    /*padding-left: 15px;
    padding-right: 15px;*/
}

.content-height {
    height: calc(100vh - 135px);
    overflow: auto;
}

.tab-height {
    height: calc(100vh - 185px);
    border: 1px solid white;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.container {
    max-width: 750px !important;
}

.tab {
    width: 210px;
    padding: 10px;
    overflow: auto;
}

/*.area {
    border: 1px solid #ddd;
}*/

.workarea {
    background-color: white;
}

#toolbar {
    background-color: #3F4663;
    color: white;
}

.main-content {
    padding-left: 0px;
}

.chat-input {
    max-width: calc(100vw - 50px);
    float: left;
}

#sidebar {
    float: left;
    position: relative;
}

@media (min-width: 768px) {
    .main-content {
        padding-left: 200px;
    }

    .chat-input {
        /*max-width: initial;
        float:left;*/
        display: block;
        max-width: calc(100% - 260px);
        box-sizing: border-box; /*Makes inputs behave like true block-level elements;*/  
    }
}

.sidebar {
    position: fixed;
}

.chat-input-area {
    padding: 15px 5px 0px 5px;
    height: 50px;
}

.chat-input-buttons {
    padding: 5px 0px 0px 5px;
}

#content {
    padding-top: 50px;
}

/*
loading angular at the bottom of the page, it's taking time to load. So the css required for the ng-cloak is not available yet.
Either move the js to the tag or load the specific CSS code to your CSS to make it work.*/
/*[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {*/
[ng-cloak] {
    display: none !important;
}

.chat-bubble {
    margin: 10px 30px 10px 30px;
    display: inline-block;
    position: relative;
    Max-width: 240px;
    height: auto;
    background-color: #C2F5A8;
    word-wrap: break-word;
    word-break: break-all;
}

.border {
    border: 8px solid #666;
}

.round {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.tri-right.border.left-in:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -40px;
    right: auto;
    top: 30px;
    bottom: auto;
    border: 20px solid;
    border-color: #666 #666 transparent transparent;
}

.tri-right.left-in:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -20px;
    right: auto;
    top: 8px;
    bottom: auto;
    border: 12px solid;
    border-color: #C2F5A8 #C2F5A8 transparent transparent;
}

.tri-right.border.btm-left:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -8px;
    right: auto;
    top: auto;
    bottom: -40px;
    border: 32px solid;
    border-color: transparent transparent transparent #666;
}

.tri-right.btm-left:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 0px;
    right: auto;
    top: auto;
    bottom: -20px;
    border: 22px solid;
    border-color: transparent transparent transparent #C2F5A8;
}

.tri-right.border.btm-left-in:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 30px;
    right: auto;
    top: auto;
    bottom: -40px;
    border: 20px solid;
    border-color: #666 transparent transparent #666;
}

.tri-right.btm-left-in:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 38px;
    right: auto;
    top: auto;
    bottom: -20px;
    border: 12px solid;
    border-color: #C2F5A8 transparent transparent #C2F5A8;
}

.tri-right.border.btm-right-in:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: 30px;
    bottom: -40px;
    border: 20px solid;
    border-color: #666 #666 transparent transparent;
}

.tri-right.btm-right-in:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: 38px;
    bottom: -20px;
    border: 12px solid;
    border-color: #C2F5A8 #C2F5A8 transparent transparent;
}

.tri-right.border.btm-right:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -8px;
    bottom: -40px;
    border: 20px solid;
    border-color: #666 #666 transparent transparent;
}

.tri-right.btm-right:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: 0px;
    bottom: -20px;
    border: 12px solid;
    border-color: #C2F5A8 #C2F5A8 transparent transparent;
}

.tri-right.border.right-in:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -40px;
    top: 30px;
    bottom: auto;
    border: 20px solid;
    border-color: #666 transparent transparent #666;
}

.tri-right.right-in:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -20px;
    top: 8px;
    bottom: auto;
    border: 12px solid;
    border-color: #C2F5A8 transparent transparent #C2F5A8;
}

.chat-content {
    padding: 1em;
    text-align: left;
    line-height: 1.5em;
}

    .chat-content p {
        -webkit-margin-before: 0em;
        -webkit-margin-after: 0em;
        margin: 0px;
    }

.sender-date {
    right: -25px;
}

.receiver-date {
    left: -25px;
}

.sender-date, .receiver-date {
    bottom: -1em;
}

md-input-container {
    padding-bottom: 2px !important;
}