@using iTalk.DAO
@model IEnumerable<iTalkUser>

@{
    ViewBag.Title = @Resources.AllUser;
}

<table>
    <thead>
        <tr>
            <td>@Resources.User</td>
        </tr>
    </thead>
    <tbody>
        @foreach (iTalkUser user in this.Model) {
            <tr>
                <td>@user.UserName</td>
            </tr>
        }
    </tbody>
</table>

